@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Title of the document</title>
</head>

<body>
    <h3>Appointmen isi uygulu oldu,Email ile geri donus edilecek.</h3>
</body>

</html>