@using Gymon.Core.Entities.ProductAttributies
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model Size

@{
    ViewData["Title"] = "Create Size";
}

<h2>Create Size</h2>

<form asp-action="CreateSize" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Sizes" class="btn btn-secondary">Back to List</a>
</form>
