
@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner Style One Start -->
<section class="banner-style-one">
    <div class="parallax" style="background-image: url(https://via.placeholder.com/1920x640);"></div>
    <div class="container">
        <div class="row">
            <div class="banner-details">
                <h2>Blog Detail</h2>
                <p>our values and vaulted us to the top of our industry.</p>
            </div>
        </div>
    </div>
    <div class="breadcrums">
        <div class="container">
            <div class="row">
                <ul>
                    <li>
                        <a href="index.html">
                            <i class="fa-solid fa-house"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="current">
                        <p>Blog Detail</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Banner Style One End -->
<!-- Blog Style Three Start -->
<section class="gap blog-style-one blog-detail detail-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-post ">
                    <div class="blog-image">
                        <figure>
                            <img src="https://via.placeholder.com/833x484" alt="Blog Style Two 1">
                        </figure>
                    </div>
                    <div class="blog-data">
                        <span class="blog-date">January 9, 2024</span>
                        <h2>
                            <a href="javascript:void(0)">HOW A GOOD PERSONAL TRAINER CAN CHANGE THE WAY OF YOUR LIFE</a>
                        </h2>
                        <div class="blog-author d-flex-all justify-content-start">
                            <div class="author-img">
                                <figure>
                                    <img src="https://via.placeholder.com/60x60" alt="Blog Author Img">
                                </figure>
                            </div>
                            <div class="details">
                                <h3> <span>by</span> Jakki James</h3>
                            </div>
                        </div>
                    </div>
                    <p>Our mission is to create a nurturing and empowering environment where individuals of all ages, abilities, and fitness aspirations can thrive. We understand that wellbeing is a multifaceted concept, which is why we offer holistic solutions that integrate physical, mental, and spiritual fitness. Join our community and experience the transformative power of Wellness Gaines Fitness. Together, we will embark on a journey towards holistic wellness, fostering a healthier mind, a stronger body, and a rejuvenated soul. Get ready to unleash your true potential and live your best life. Get ready to push your limits and achieve maximum results</p>
                    <h3>Custom Listing Stlyes</h3>
                    <ul class="c-circle">
                        <li>
                            <i class="fa-solid fa-circle-dot"></i>Integrate physical, mental, and spiritual fitness.
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-dot"></i>Strength Gaines class will provide you with the knowledge
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-dot"></i>Most successful facilities have several gym
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-dot"></i>Environment where individuals of all ages, abilities
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-dot"></i>which is why we offer holistic solutions
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-dot"></i>Most specialized service possible and enriched
                        </li>
                    </ul>
                    <figure class="blog-detail-fig">
                        <img src="https://via.placeholder.com/833x484" alt="blog-detail">
                    </figure>
                    <p class="p-quote">“We believe that true wellness encompasses the mind, body, and soul. Whether you’re just starting your fitness journey”</p>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt nunc lorem, nec faucibus mi facilisis eget. Mauris laoreet, nisl id faucibus pellentesque, mi mi tempor enim, sit amet interdum felis nibh a leo. Donec efficitur velit ac nisi rutrum, eu ornare augue tristique.</p>
                    <h3 class="mb-0">Gym Environment</h3>
                    <p class="mt-0">Join our community and experience the transformative power of Wellness Gaines Fitness. Together, we will embark on a journey towards holistic wellness, fostering a healthier mind, a stronger body, and a rejuvenated soul. Get ready to unleash your true potential and live your best life. Get ready to push your limits and achieve maximum results</b></p>
                    <div class="row">
                        <div class="col-lg-6">
                            <figure>
                                <img src="https://via.placeholder.com/376x378" alt="Blog Detail Two Image">
                            </figure>
                        </div>
                        <div class="col-lg-6">
                            <figure>
                                <img src="https://via.placeholder.com/376x378" alt="Blog Detail Three Image">
                            </figure>
                        </div>
                    </div>
                    <h3 class="pt-4">Professionals and relevant experience!</h3>
                    <p class="mt-0">A gym isn’t just a place for exercise; it’s the place you go to unwind, socialize & work out. The gym is a whole experie nce. Some of the most successful facilities have several gym features that contribute to the kind of member expe rience that drives retention and sales. Our mission is to create a nurturing and empowering environment where individuals of all ages, abilities, and fitness aspirations can thrive. We understand that wellbeing is a multifaceted concept, which is why we offer holistic solutions that integrate physical, mental, and spiritual fitness.</p>
                    <div class="category shape">
                        <p>Posted in <a href="JavaScript:void(0)">Uncategorized</a></p>
                    </div>
                    <div class="category shape social-medias">
                        <p>
                            Share this:
                        </p>
                        <ul>
                            <li><a href="javascript:void(0)">Facebook</a></li>
                            <li><a href="javascript:void(0)">Twitter</a></li>
                            <li><a href="javascript:void(0)">LinkedIn</a></li>
                        </ul>
                    </div>
                    <div class="category shape comments">
                        <h3>Comments</h3>
                        <ul>
                            <li>
                                <div class="comment">
                                    <div class="c-img">
                                        <figure>
                                            <img src="https://via.placeholder.com/170x170" alt="Comment Image One">
                                        </figure>
                                    </div>
                                    <div class="c-data">
                                        <h4>Jonathom Doe</h4>
                                        <span>July 31, 2024</span>
                                        <p>Delivered ye sportsmen zealously arranging frankness estimable as. Nay any article enabled musical shyness yet sixteen.</p>
                                        <a class="c-r-btn" href="javascript:void(0)">Reply</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="comment reply">
                                    <div class="c-img">
                                        <figure>
                                            <img src="https://via.placeholder.com/170x170" alt="Comment Image Two">
                                        </figure>
                                    </div>
                                    <div class="c-data">
                                        <h4>Jonathom Doe</h4>
                                        <span>July 31, 2024</span>
                                        <p>Delivered ye sportsmen zealously arranging frankness estimable as. Nay any article enabled musical shyness yet sixteen.</p>
                                        <a class="c-r-btn" href="javascript:void(0)">Reply</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="category shape form">
                        <h3>Leave a Comment</h3>
                        <p>Your email address will not be published.</p>
                        <form>
                            <textarea placeholder="Comment"></textarea>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" name="text" placeholder="Complete Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" name="email" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="row align-items-center form-check">
                                <div class="col-lg-12 d-flex-all justify-content-start">
                                    <input type="checkbox" class="form-check-inputt" id="exampleCheck24">
                                    <label class="form-check-labell" for="exampleCheck24"> Save my name, email, and website in this browser for the next time I comment.</label>
                                </div>
                            </div>
                            <button type="submit" class="theme-btn">Post Comment </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="sidebar">
                    <div class="box recent-posts">
                        <h3>Recent Posts</h3>
                        <ul>
                            <li>
                                <img src="https://via.placeholder.com/80x80" alt="img">
                                <div>
                                    <span>dec 13,2024</span>
                                    <a href="#"><p>Championship in weight lifting</p> </a>
                                </div>
                            </li>
                            <li>
                                <img src="https://via.placeholder.com/80x80" alt="img">
                                <div>
                                    <span>dec 13,2024</span>
                                    <a href="#"><p>You are making while muscle building</p> </a>
                                </div>
                            </li>
                            <li>
                                <img src="https://via.placeholder.com/80x80" alt="img">
                                <div>
                                    <span>dec 13,2024</span>
                                    <a href="#"><p>Importance of good trainer</p> </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="box recent-cmnts">
                        <h3>Recent Comments</h3>
                        <ul>
                            <li>
                                <h4>Thomas Walkar</h4>
                                <p>Consulted admitting is power acuteness.</p>
                            </li>
                            <li>
                                <h4>Thomas Walkar</h4>
                                <p>Consulted admitting is power acuteness.</p>
                            </li>
                            <li>
                                <h4>Thomas Walkar</h4>
                                <p>Consulted admitting is power acuteness.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="box categories">
                        <h3>Categories</h3>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p>Uncategorized</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p>Gym Workout</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p>Gym Classes</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p>Gym Trainers</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="box categories">
                        <h3>Archives</h3>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p>July 2021</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="box categories">
                        <h3>Meta</h3>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <p>Log in</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p>Entries feed</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p>Comments feed</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <p>WordPress.org</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- Blog Style Three End -->
